[submodule "ms-springboot-272-java-8"]
	path = ms-springboot-272-java-8
	url = https://github.com/arafkarsh/ms-springboot-272-java-8
[submodule "ms-springboot-310-java-17-jakarta-ee-10"]
	path = ms-springboot-310-java-17-jakarta-ee-10
	url = https://github.com/arafkarsh/ms-springboot-310-java-17-jakarta-ee-10
[submodule "rx-java-2"]
	path = rx-java-2
	url = https://github.com/arafkarsh/rx-java-2.git
[submodule "k8s-quickstart"]
	path = k8s-quickstart
	url = https://github.com/arafkarsh/k8s-quickstart.git
